@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

tbody tr:hover {
    background-color: rgba(52, 152, 219, 0.5);
    color: white;
}

.action-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-edit {
    background-color: #3498db;
    color: white;
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
}

.create {
    text-align: center;
    margin-top: 20px;
    float: right;
    margin-bottom: 1%
}

.createbtn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #27ae60;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
